body {
    font-style: italic;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: grid;
    grid-template-columns: 20fr 15fr; /* Main content takes 2 parts, aside takes 1 part */
    gap: 20px;
    padding: 20px;
}

header, footer {
    grid-column: span 2; /* Make them take full width */
}

#header {
    color: rgb(140, 95, 12);
    background-color: blanchedalmond;
    padding: 0%;
    text-align: center;
    width: 100%;
}

.grid-section-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.grid-section-item {
    background-color: rgb(41, 188, 233);
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

aside {
    background-color: lightblue;
    padding: 20px;
    border-radius: 8px;
}

.flex-aside {
    display: flex;
    gap: 10px;
    background-color: rgb(164, 92, 232);
    color: rgb(239, 245, 250);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

#article {
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: beige;
    padding: 2%;
    height: 60px;
    text-align: center;
    border-radius: 5px;
}

.footer {
    background-color: rgb(112, 112, 176);
    font-size: 40px;
    padding: 2%;
    text-align: center;
    padding: 4%;
}
